<!-- <div ng-init="count=20">
    <div>welcome to login</div>
    <input ng-model="count">
    <span>{{count}}</span>
</div> -->

<div id="sample">
    <div style="width:100%">
        <div id="myDiagramDiv" style="border: solid 1px black; width:100%; height:750px;"></div>
        <div id="infobox" style="">
            <img id="Image" width="216" alt="" src="">
            <h3 id="Title"></h3>
            <!-- <p id="Description">Select a node to see more information.</p> -->
        </div>
    </div>
</div>